<!DOCTYPE html>
<html>
<head>
<title>T7 - Order Confirmation Page</title>

<!--Icon-->
<link rel="icon" type="image/png" sizes="128x128" href="assets/images/logo.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/images/logo.png">
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script  type="text/javascript" src="product.js"> </script>
<link rel="stylesheet" type="text/css" href="styles.css">

<h1><i class="fab fa-product-hunt"></i> T7: Order Confirmation Page</h1>

<script>
function Expensive() {
  if (confirm("This item is EXPENSIVE!.\Do you still want to buy this item?"));
}

function BuyingItem() {
  if (confirm("Are sure you want to processed with this purchase?"));
}
</script>

<h2 style="color:black;">Review your order below and click 'Place Order' to place your order</h2>


<div class="product-grid">
<section class="product-bar" ng-repeat="x in products">
<img src="assets/images/item1.jpg" />
<h2>headsets</h2>
<p> $1000 <br></p>

<p>Quantity: 1</p>
</section>

<section class="product-bar" ng-repeat="x in products">
<img src="assets/images/item3.jpg" />
<h2>macbook</h2>
<p> $3000 <br></p>

<p>Quantity: 1</p>
</section>

<section class="product-bar" ng-repeat="x in products">
<img src="assets/images/item6.jpg" />
<h2>gucci suitcase</h2>
<p> $5000 <br></p>

<p>Quantity: 1</p>
</section>
</div>


<button ng-click="myFunc()" class="button Sortbutton">Place Order</button>


</body>
</html>
