body{background:DodgerBlue;}
h1{color:black;text-align:center;font-family: 'Arial', cursive;font-size:12vh;}
.product-grid{display:grid;grid-auto-rows:300px;grid-template-columns:repeat(auto-fill, 200px);grid-gap:20px;text-align:center;}
.product-bar img{height:100px;width:100%;}
.product-bar{position:relative;background:linear-gradient(45deg, Teal, Teal);cursor:pointer;border:1px solid white;overflow:hidden;height:300px;}
.button{background-color: #4CAF50;border: none;color: white;padding: 10px 10px;text-align: center;text-decoration: none;display: inline-block;
        font-size: 16px;margin: 2px 2px;cursor: pointer;}
.Sortbutton{margin-left: 1220px;}
.Cartbutton{margin-left: 1820px;}
a {
  width: 100%;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  color: white;
}
.button:hover{background-color: RoyalBlue;}




